<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <source particle="neutron" strength="0.015721240620933687" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.2211772254835056 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.1095496259368967 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 9984.765156027359" type="normal"/>
  </source>
  <source particle="neutron" strength="0.00046906124855107415" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>4.430895407964169 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.0708794133962573 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5708.896956134745" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03766579963764086" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.7521177756327075 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.01146407566784306 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.423275489426" type="normal"/>
  </source>
  <source particle="neutron" strength="0.000986522742375085" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>4.230711709805094 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.5230520543143498 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 6022.396448077546" type="normal"/>
  </source>
  <source particle="neutron" strength="0.030522632156234523" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>4.049305961691024 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.2887167467226945 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12031.32200242269" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0005505186538879846" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.5716127494023766 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-1.5550957366057385 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5805.0584952679255" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0006047770221922248" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.912857265591916 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.7536207731800533 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5856.524566669742" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0008774866842942377" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>4.081101265490784 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.8159275884528909 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5942.90775852396" type="normal"/>
  </source>
  <source particle="neutron" strength="0.00046526708839672636" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.415628937571597 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.5919512961868312 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5704.079570036183" type="normal"/>
  </source>
  <source particle="neutron" strength="0.017925690151885724" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.527212547228593 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-1.0471591850221973 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 10346.39305680063" type="normal"/>
  </source>
  <source particle="neutron" strength="0.025623366032275927" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.9664911073963998 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.557942094042318 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 11474.112056684642" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0007599210345620272" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.6629456635672333 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.8807859843143517 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5871.87500812624" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03278247123523896" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.970641878102821 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.3320526741651425 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12207.566632254737" type="normal"/>
  </source>
  <source particle="neutron" strength="0.000704122461476005" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.67032919821444 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-1.206362206443732 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5858.089461771602" type="normal"/>
  </source>
  <source particle="neutron" strength="0.036729677178716114" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.8955412961025893 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.08178562500056451 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12330.212538365537" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03625317486570597" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.568838417183173 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.3449790662869366 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12327.342470228517" type="normal"/>
  </source>
  <source particle="neutron" strength="0.032158367854935886" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.9422770956618844 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.40428872129200694 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12165.786796924203" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0030491760282097243" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.4613192834177497 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.29231593239218 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 7111.234333206971" type="normal"/>
  </source>
  <source particle="neutron" strength="0.034313916148186734" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.8080284228655588 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.4462328883809889 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12284.34988350829" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0004757696256341284" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.2817154187323285 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-1.823680012369112 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5717.333647021928" type="normal"/>
  </source>
  <source particle="neutron" strength="0.029523628238928675" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.24053772612209 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.3399312458517871 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 11933.967882898472" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03669580524413763" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.581411532100586 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.2322402845891061 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12330.077848293624" type="normal"/>
  </source>
  <source particle="neutron" strength="0.034558621410809925" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.9377982011454544 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.27287297937338606 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12293.043670667073" type="normal"/>
  </source>
  <source particle="neutron" strength="0.006492793705119922" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.8991898627925448 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.5070441773716956 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 8158.063373330061" type="normal"/>
  </source>
  <source particle="neutron" strength="0.01625833861875844" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.0188390158311096 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.3920041642668865 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 10074.53283519979" type="normal"/>
  </source>
  <source particle="neutron" strength="0.034426423349091885" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.4907300737409965 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.5360488455027423 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12288.470972072142" type="normal"/>
  </source>
  <source particle="neutron" strength="0.000947920386960371" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>4.3301415412326 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.18416825318899752 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5993.988564798217" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03719534362797955" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.6850488296483146 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.22304194833449448 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.267285348717" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03692762225778328" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.589937196821572 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.07546822921946275 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12330.825898394618" type="normal"/>
  </source>
  <source particle="neutron" strength="0.028944834688815063" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.9079257477541725 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.555843257753699 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 11873.087490172264" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0004713960427353351" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.764723542257579 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-1.9731719543183117 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5711.844895725541" type="normal"/>
  </source>
  <source particle="neutron" strength="0.030318788547663456" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.649395600452667 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.7391739549208022 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12012.30989142453" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03756465723752092" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.746397177997709 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.09430955288409167 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.421629923212" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0007324930062880129" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.671580509013111 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.082036998604009 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5862.796555926301" type="normal"/>
  </source>
  <source particle="neutron" strength="0.037668077904176755" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.7508100631037156 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.002804724989244935 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.42327551841" type="normal"/>
  </source>
  <source particle="neutron" strength="0.028137127060330967" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.291377202965332 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.7728229192682502 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 11783.284758582953" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03381509460561368" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.424721014410017 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.5008899254953543 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12263.536567270081" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03748649821722606" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.817232634760712 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.02971616795229715 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.414407522874" type="normal"/>
  </source>
  <source particle="neutron" strength="0.00883276717006203" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>4.177918907888762 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.42958412977472166 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 8696.681960870492" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0372948727779502" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.643994870520322 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.12862293836074123 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.346463966858" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03517145297937688" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.8793805419035547 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>0.3080807114924487 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12310.482616892006" type="normal"/>
  </source>
  <source particle="neutron" strength="0.006869820998314274" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.96392433799444 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.9497770068831917 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 8250.873116829765" type="normal"/>
  </source>
  <source particle="neutron" strength="0.00043792332429056153" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>2.2356246597439466 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.6650234456406232 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5668.333272772376" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0004966269895993159" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.130240494088589 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.8740153553081704 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5742.931322139341" type="normal"/>
  </source>
  <source particle="neutron" strength="0.02465816933133299" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.1397687133373435 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.383251707720757 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 11345.721437784217" type="normal"/>
  </source>
  <source particle="neutron" strength="0.000560497386451119" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.0950044980648035 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-1.8016896043072124 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 5815.988733991247" type="normal"/>
  </source>
  <source particle="neutron" strength="0.02590677638291951" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.1951413679324623 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.6507645316956941 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 11510.89682421605" type="normal"/>
  </source>
  <source particle="neutron" strength="0.0077815470385166246" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.00649427775481 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>1.0398197263741882 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 8464.916987782939" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03752047374164231" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.6791134644303702 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.03150248790446079 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.418506266933" type="normal"/>
  </source>
  <source particle="neutron" strength="0.03766464925827067" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>3.7369244258405567 1.0</parameters>
      </r>
      <phi parameters="0.001 6.2829" type="uniform"/>
      <z type="discrete">
        <parameters>-0.0019375752848043485 1.0</parameters>
      </z>
    </space>
    <angle type="isotropic"/>
    <energy parameters="14080000.0 12331.423275434332" type="normal"/>
  </source>
  <photon_transport>true</photon_transport>
</settings>
